$margin: 0 auto;
$max-width: 990px;
$width: 100%;
$yellow: #fcdb00;
$black: #010101;
$grey: #555555;
$padding: 0 25px;

/* переменные для медиазапросов*/

$phone: 480px;
$tablet-portrait: 767px;
$tablet-landscape: 991px;
$desktop: 1200px;
